name: build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        device: [a50]
        ksu: ['', -k]
        susfs: ['', -s]
        selinux: ['', -p]
        exclude:
        - ksu: ''
          susfs: -s
          selinux: ''
        - ksu: ''
          susfs: -s
          selinux: -p

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup
        run: |
          sudo apt-get update
          sudo apt install make libssl-dev curl bc pkg-config m4 libtool automake autoconf libelf-dev bzip2 p7zip-full jq python3 python-is-python3 -y 

      - name: Run build 
        run: |
          export ROM=${{ matrix.rom }}
          export KSU=${{ matrix.ksu }}
          export SUSFS=${{ matrix.susfs }}
          export SELINUX=${{ matrix.selinux }}
          export DEVICE=${{ matrix.device }}
          ./build.sh -d $DEVICE -v oneui $KSU $SUSFS $SELINUX --android 12
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.device }}-${{ matrix.ksu }}-${matrix.susfs}}-${{ matrix.selinux }}
          path: "out/"
