name: Update KernelSU

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update submodule
        run: |
          git submodule update --remote --recursive
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

          if ! git diff --quiet; then
            COMMIT=$(cd "KernelSU" && git rev-parse --short HEAD)

            git commit -am "KernelSU: update to '$COMMIT'"
            git push
          else
            echo "Submodules are up-to-date!"
          fi
